@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed&display=swap');
body, html {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #1e1e1e;
  color: #ffffff;
  user-select: none;
  font-family: 'Encode Sans Condensed', sans-serif;
}
#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 10px solid #dcdcaa;
  border-radius: 50%;
  border-top: 10px solid #1e1e1e;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: translate(-50%, -50%) rotate(0deg); }
  100% { -webkit-transform: translate(-50%, -50%) rotate(360deg); }
}

@keyframes spin {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}
#app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
/* header */
#header {
  display: flex;
  border-bottom: 1px solid #9cdcfe;
  padding: 20px;
  justify-content: space-between;
}
/* body */
.body_app {
  flex-grow: 2;
  padding: 10px;
  display: flex;
}
.p__wrapper {
  flex-basis: 100%;
  display: flex;
  border: #1e1e1e;
  border-radius: 6px;
  background-color: #2C2F33;
  padding: 5px;
}
/* header components */
#logo_wrapper{
  display: flex;
  margin: 0 20px 0 0;
}
.logo{
  font-size: 26px;
  padding: 5px 15px;
}
.logo__small{
  margin: 0;
  border-left: 1px solid #9cdcfe;
  border-top: 1px solid #9cdcfe;
  border-right: 1px solid #9cdcfe;
}
.logo__large{
  margin: 0;
  border-bottom: 1px solid #9cdcfe;
}
#nav{
  display: flex;
  justify-content: flex-end;
  margin: 0 0 0 20px;
}
.nav_b{
  margin: 0;
  padding: 5px 10px 5px 10px;
  font-size: 26px;
  cursor: pointer;
  border-bottom: 1px solid #ffffff;
}
.divider{
  border-bottom: none;
}
.nav_selected{
  color: #9cdcfe;
}

/* body components */
#body__forum {
  width: 50%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-size: 22px;
  margin: 10px;
}
.code_span {
  margin: 5px 0;
  display: flex;
}
.code_span:nth-child(1) {
  margin-top: 0 !important;
}
.code_span:nth-last-child(1) {
  margin-bottom: 0 !important;
}
input:focus, select:focus, textarea:focus, button:focus{
  outline: none;
}
.code_span span {
  margin: 0 2px;
}
input::placeholder {
  color: #a9a9a9;
}
.input_d:disabled {
  background-color: #1e1e1e80;
  cursor: not-allowed;
}
.input_d {
  background-color: #2C2F33;
  border: 1px solid #9cdcfe;
  border-radius: 6px;
  margin: 0 2px;
  font-size: 20px;
  padding: 5px;
  width: 540px;
  font-family: 'Encode Sans Condensed', sans-serif;
}
#editor {
  position: relative;
  min-height: 130px;
  font-family: "Courier New", monospace;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: normal;
  line-height: 22px;
  tab-size: 4;
  overflow-y: auto !important;
  resize: none !important;
}
.editor_empty {
  color: #a9a9a9 !important;
  font-family: 'Encode Sans Condensed', sans-serif !important;
}
.json_span {
  flex-grow: 2;
}
/* code colors */
.m {
  color: #4fc1ff;
}
.p {
  color: #9cdcfe;
}
.a {
  color: #ffffff;
}
.s {
  color: #ce9178;
}
.c {
  color: #dcdcaa;
}
.f {
  color: #569cd6;
}
/* body__controls */
#body__controls {
  width: 50%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  font-size: 20px;
}
#top__controls, #bottom__controls {
  margin: 5px 0;
  display: flex;
  flex-direction: column;
  border: 2px solid #1e1e1e;
  border-radius: 6px;
  padding: 20px;
}
#bottom__controls {
  flex-grow: 2;
}
.top_c_div {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.nomargin {
  margin: 0 !important;
}
.crossb {
  border-radius: 50px !important;
}
.select_wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.select_normal {
  vertical-align: bottom;
  font-size: 20px;
  cursor: pointer;
  font-family: 'Encode Sans Condensed', sans-serif;
  border: none;
  border-radius: 6px;
  background-color: #1e1e1e;
  color: #ffffff;
  padding: 5px;
}
.tbs {
  margin: 4px 8px !important;
  padding: 5px 10px !important;
  margin-left: 0 !important;
}
.button_g{
  font-size: 20px;
  cursor: pointer;
  font-family: 'Encode Sans Condensed', sans-serif;
  border: none;
  border-radius: 6px;
  background-color: #7289DA;
  color: #ffffff;
  padding: 5px 10px;
}
.button_g:hover {
  background-color: #7274da;
}
.button_g:disabled{
  background-color: #7289da21;
}
.hidden {
  display: none !important;
}
.select_wrapper span {
  margin: 0;
  margin-right: 10px;
}
#broadcast_log_wr {
  flex-grow: 2;
  margin: 0;
  margin-top: 10px;
}
#broadcast_log {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  font-family: "Courier New", monospace;
  width: 100%;
  padding: 10px;
  font-size: 13.8px;
  overflow: auto;
  user-select: text;
}
.log {
  display: flex;
  margin: 1px 0;
}
.log span{
  margin: 0 15px;
  white-space: normal;
  text-overflow: ellipsis;
}
.log span:nth-child(1){
  margin: 0 15px 0 0;
}
.log_warn {
  color: #e6cd2d;
}
.log_err {
  color: #ec1c1c;
}
.tx_id {
  color: chartreuse;
}
#stream_options {
  display: flex;
  width: 100%;
  align-self: flex-start;
  justify-content: space-between;
} 
#stream_options .input_d {
  width: 250px;
  flex-grow: 2;
  margin: 0 5px;
}
#stream_buttons {
  display: flex;
  justify-content: center;
}
#stream_buttons .button_g, #stream_buttons .select_normal {
  margin: 0 5px;
  white-space: nowrap;
}
