@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
body, html {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #1e1e1e;
  color: #d4d4d4;
  user-select: none;
  font-family: 'Encode Sans Condensed', sans-serif;
}
#app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
/* header */
#header {
  display: flex;
  border-bottom: 1px solid #9cdcfe;
  padding: 20px;
  justify-content: space-between;
}
/* body */
.body_app {
  flex-grow: 2;
  padding: 10px;
  display: flex;
}
#p__broadcast_wrapper {
  flex-basis: 100%;
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  border: #1e1e1e;
  border-radius: 5px;
  background-color: #2C2F33;
  padding: 0 5px;
}
/* header components */
#logo_wrapper{
  display: flex;
  margin: 0 20px 0 0;
}
.logo{
  cursor: pointer;
  font-size: 26px;
  padding: 5px 15px;
}
.logo__small{
  margin: 0;
  border-left: 1px solid #9cdcfe;
  border-top: 1px solid #9cdcfe;
  border-right: 1px solid #9cdcfe;
}
.logo__large{
  margin: 0;
  border-bottom: 1px solid #9cdcfe;
}
#nav{
  display: flex;
  justify-content: flex-end;
  margin: 0 0 0 20px;
}
.nav_b{
  margin: 0;
  padding: 5px 10px 5px 10px;
  font-size: 26px;
  cursor: pointer;
  border-bottom: 1px solid #d4d4d4;
}
.divider{
  border-bottom: none;
}
.nav_selected{
  color: #9cdcfe;
}

/* body components */
#body__forum {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin: 10px;
}
.code_span {
  margin: 5px 0;
  display: flex;
}
input:focus{
  outline: none;
}
textarea:focus{
  outline: none;
}
.code_span span {
  margin: 0 2px;
}
.input_d {
  background-color: #2C2F33;
  border: 1px solid #9cdcfe;
  border-radius: 5px;
  margin: 0 2px;
  font-size: 20px;
  padding: 5px;
  width: 500px;
  font-family: 'Encode Sans Condensed', sans-serif;
}
#editor {
  min-height: 130px;
  font-family: "Courier New", monospace;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: normal;
  line-height: 22px;
  tab-size: 4;
  overflow-y: auto !important;
  resize: none !important;
}
.json_span {
  flex-grow: 2;
}
/* code colors */
.m {
  color: #4fc1ff;
}
.p {
  color: #9cdcfe;
}
.a {
  color: #d4d4d4;
}
.s {
  color: #ce9178;
}
.c {
  color: #dcdcaa;
}
.f {
  color: #569cd6;
}
/* body__controls */
#body__controls {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  font-size: 20px;
}
#top__controls{
  flex-grow: 2;
  margin: 5px 0;
  display: flex;
  flex-direction: column;
  border: 2px solid #1e1e1e;
  border-radius: 5px;
  padding: 20px;
}
.top_c_div {
  margin-bottom: 20px;
  display: flex;
}
select:focus{
  outline: none;
}
.select_wrapper {
  display: flex;
  align-items: center;
}
.select_normal {
  vertical-align: bottom;
  font-size: 20px;
  cursor: pointer;
  font-family: 'Encode Sans Condensed', sans-serif;
  margin: 0 0 0 10px;
  border: none;
  border-radius: 5px;
  background-color: #1e1e1e;
  color: #d4d4d4;
  padding: 5px;
  padding-right: 10px;
}